.root {
    -fx-background-color: #ADD8E6;
}


#btnCar {
    -fx-background-image: url("CAR.png");
    -fx-background-size: 100% 100%;
    background-repeat: no-repeat;
}

#btnPedestrian {
    -fx-background-image: url("BIKEMAN.png");
    -fx-background-size: 100% 100%;
    background-repeat: no-repeat;
}
#btnCarWalk {
    -fx-background-image: url("CARMAN.png");
    -fx-background-size: 100% 100%;
    background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnPlusZoom {
    -fx-background-image: url("PlusSymbol.png");
    -fx-background-size: 75% 75%;
    -fx-background-image: url("PlusSymbol.png");
    -fx-background-size: 65% 65%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnMinusZoom {
    -fx-background-image: url("Minus.png");
    -fx-background-size: 65% 65%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btnPlusZoom {
    -fx-background-image: url("PlusSymbol.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#btnToSpaceMode {
    -fx-background-image: url("UFO.png");
    -fx-background-color: #7300e6 ;
    -fx-background-size: 65% 65%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-opacity: 0.3;
}

#btnToSpaceMode:hover{
    -fx-opacity: 1.0;
}
#sep{

}

#btnMinusZoom {
    -fx-background-image: url("Minus.png");
    -fx-background-size: 75% 75%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.list-cell:empty {
    -fx-opacity: 0;
}

.separator{
   -fx-border-color: transparent black transparent black;
}

.list-view {
    -fx-padding: 0px ;
    -fx-background-color: transparent, -fx-background ;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

/* CSS code for list-view taken from:
*  https://dlsc.com/2017/09/07/javafx-tip-28-pretty-list-view/
*  by Dirk Lemmermann, 2017
*/

.list-view .scroll-bar .decrement-arrow,
.list-view .scroll-bar .increment-arrow {
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.list-view .scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
    -fx-padding: 2;
}

.list-view .scroll-bar .thumb {
    -fx-background-color: rgba(0, 0, 0, .2);
    -fx-background-radius: 1000;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
}
